/*
File Name: javajam.css
Date: 01/20/14
Programmer: Marilyn Wagner 
*/

body {
	background-image: url(images/background.gif);
	background-color: #ffffcc;
	color: #330000;
	font-family: Verdana, Arial, sans-serif;
}

h1 {
	background-color: #ccaa66;
	color: #000000;
	text-align: center;
}

h2 {
	background-color: #ccaa66;
	font-size: 1.2em;
	padding-left: 10px;
	padding-bottom: 5px;
}

#nav {
	text-align: center;
}

#content {
	padding: 25px;
}

.details {
	padding-left: 20%;
	padding-right: 20%;
}

#footer {
	background-color: #ccaa66;
	color: #000000;
	font-size: .60em;
	font-style: italic;
	text-align: center;
	padding: 10px;
	margin-left: -25px;
	margin-right: -25px;
}

#wrapper {
	background-color: #ffffcc;
	min-width: 700px;
	box-shadow: 10px 10px 5px #888888;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

img {
	border: 0;
}
