/*
File Name: styles.css
Date: 01/27/14
Programmer: Marilyn Wagner 
*/

body {
	background-color: #ffff33;
	color: #000033;
} 

h1 {
	background-color: #ffff99;
	color: #000000;
	line-height: 150%;
	text-align: center;
}

#wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

p {
	font-family: "Times New Roman", Baskerville, serif;
	font-size: 1.5em;
	text-align: center;
}