<!DOCTYPE html>
<html ng-app="">
<head>
    <link rel="stylesheet" href = "http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <style>
        .pwd.ng-valid { 
            background-color: green;
        } 
        .pwd.ng-dirty.ng-invalid-required {
            background-color: red; 
        }
        .pwd.ng-dirty.ng-invalid-minlength { 
            background-color: lightpink;
        }
        body {
            background: #78C0A8;
        }
        
    </style>
</head>

<body ng-controller="userController">
    <div class="container">

        <h3>Users</h3>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Edit</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                </tr>
            </thead>
                <tbody>
                    <tr ng-repeat="user in users"><!--style="background: blue;"  -->
                        <td>
                            <button style="background: #337AB7; color: white;" class="btn" ng-click="editUser(user.id)">
                                <span class="glyphicon glyphicon-pencil"></span>  Edit
                            </button>
                        </td>
                        <td>{{ user.fName }}</td>
                        <td>{{ user.lName }}</td>
                    </tr>
                </tbody>
        </table>

        <hr>
        <button class="btn btn-success" ng-click="editUser('new')">
            <span class="glyphicon glyphicon-user"></span>  Create New User
        </button>
        <hr>

        <h3 ng-show="edit">Create New User:</h3>
        <h3 ng-hide="edit">Edit User:</h3>

        <form class="form-horizontal" name="myForm">
            <div class="form-group">
                <label class="col-sm-2 control-label">First Name:</label>
                <div class="col-sm-10">
                    <input type="text" ng-model="fName" ng-disabled="alwaysfalse" placeholder="First Name"><!--Steve changed ng-disabled used to say ng-disabled="!edit"   -->
                </div>
            </div> 
            <div class="form-group">
                <label class="col-sm-2 control-label">Last Name:</label>
                <div class="col-sm-10">
                    <input type="text" ng-model="lName" ng-disabled="alwaysfalse" placeholder="Last Name"><!--Steve changed ng-disabled="!edit" to ng-disabled="alwaysfalse"  -->
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Password:</label>
                <div class="col-sm-10">
                    <input type="password" class="pwd" name="pwd" ng-model="passw1" ng-minlength="8" placeholder="Password" required>
                    <span ng-show="myForm.pwd.$error.required" style="color: red;"> <!-- note: the pwd here refers to name in line above, NOT class -->
                    &nbsp;&nbsp;&nbsp;This is a required field.  Minimum password length is eight characters.
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Repeat:</label>
                <div class="col-sm-10">
                    <input type="password" ng-model="passw2" placeholder="Repeat Password">
                </div>
            </div>
        </form>

        <hr>
        <button class="btn btn-success" ng-disabled="error || incomplete">
        <span class="glyphicon glyphicon-save"></span>  Save Changes
        </button><span style="color: red;"> &nbsp;&nbsp;&nbsp;Information will be saved only if complete and accurate.</span>

    </div>

    <script src= "myUsers.js"></script>

</body>
</html>
