<div ng-controller="EditEventController" style="padding-left:20px; padding-right:20px">
    <div class="container">
      <h1>New Course</h1>
      <hr>
      <form name="newEventForm">
        <fieldset>
          <label for="eventName">Course Name:</label>
          <input id="eventName" type="text" required ng-model="event.name" placeholder="Name of your course" /><!-- note required attribute --user must complete this field or get error message -->
          <label for="eventDate">Course Date:</label>
          <div style="position:relative">
              <input id="eventDate" type="text" date-keys required ng-pattern="/\d\d/\d\d/\d\d\d\d/" ng-model="event.date" placeholder="format (mm/dd/yyyy)" />
              <date-picker for="eventDate"/>
          </div>
          <label for="eventTime">Course Time:</label>
          <input id="eventTime" type="text" ng-model="event.time" placeholder="start and end time" />
          <label for="eventLocation">Course Location:</label>
          <input id="eventLocation" type="text" ng-model="event.location.address" placeholder="Address of course" />
          <br />
          <input id="eventCity" type="text" ng-model="event.location.city" class="input-small" placeholder="City" />
          <input id="eventProvince" type="text" ng-model="event.location.province" class="input-small" placeholder="State" />
          <div>{{event.name}}</div>
          <label for="eventImageUrl">Image:</label>
          <input id="eventImageUrl" type="url" ng-model="event.imageUrl" class="input-xlarge" placeholder="url of image" />
        </fieldset>

        <img ng-src="{{event.imageUrl}}" />
        <br />
        <br />

        <button type="submit" ng-disabled="newEventForm.$invalid" ng-click="saveEvent(event, newEventForm)" class="btn btn-primary">Save</button>
        <button type="button" ng-click="cancelEvent()" class="btn btn-default">Cancel</button>
      </form>
    </div>
</div>

